
@charset "UTF-8";
.DefaultContainer-Title { font-family: "Segoe UI", Calibri, Helvetica, Arial, sans-serif; font-size:30px; color: #1BA0E1; }
.DefaultContainer-Body { padding: 8px 8px 8px 8px; }
.DefaultContainer-Bottom { height:10px; }












