################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/AarsysMetro2008 - Kopie.sln
/AarsysMetro2010 - Kopie.sln
/AarsysMetro2012 - Kopie.sln
/.vs/0-System/v15/Server/sqlite3/db.lock
/.vs/0-System/v15/Server/sqlite3/storage.ide
/.vs/0-System/v15/Server/sqlite3/storage.ide-shm
/.vs/0-System/v15/Server/sqlite3/storage.ide-wal
/.vs/0-System/v15/.suo
/.vs/AarsysMetro/DesignTimeBuild/.dtbcache
/.vs/AarsysMetro2012/DesignTimeBuild/.dtbcache
/.vs/config/applicationhost.config
/.vs/AarsysMetro/v15/Server/sqlite3/db.lock
/.vs/AarsysMetro/v15/Server/sqlite3/storage.ide
/.vs/AarsysMetro/v15/Server/sqlite3/storage.ide-shm
/.vs/AarsysMetro/v15/Server/sqlite3/storage.ide-wal
/.vs/tasks.vs.json
/deploy/AARSYS.MetroPackage.install.v09.02.00.03.zip
/deploy/AARSYS.MetroPackage.source.v09.02.00.03.zip
/Cache
/Config
/Containers/Xcillion
/Containers/_default
/EventQueue
/Install
/Logs
/Skins/Xcillion
/Skins/_default
/MergedTemplate/Merged-en-US-Default Website.template
/Smileys
/Templates
/admin.css
/Dnn.CKToolbarSets.xml
/Dnn.CKToolbarButtons.xml
/Dnn.CKEditorDefaultSettings.xml
/Default Website.template.resources
/Default Website.template.en-US.resx
/Default Website.template.de-DE.resx
/Default Website.template
/Blank Website.template.en-US.resx
/Blank Website.template.de-DE.resx
/Blank Website.template
/admin.template
/ie.css
/portal.css
/subhost.aspx
/deploy/AARSYS.MetroPackage.install.v09.02.00.04.zip
/deploy/AARSYS.MetroPackage.source.v09.02.00.04.zip
