################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/AarsysMetro2008 - Kopie.sln
/AarsysMetro2010 - Kopie.sln
/AarsysMetro2012 - Kopie.sln
/.vs/0-System/v15/Server/sqlite3/db.lock
/.vs/0-System/v15/Server/sqlite3/storage.ide
/.vs/0-System/v15/Server/sqlite3/storage.ide-shm
/.vs/0-System/v15/Server/sqlite3/storage.ide-wal
/.vs/0-System/v15/.suo
/.vs/AarsysMetro/DesignTimeBuild/.dtbcache
/.vs/AarsysMetro2012/DesignTimeBuild/.dtbcache
/.vs/config/applicationhost.config
