

.GraySmallTitleTD { text-align:left; vertical-align:middle; width:95%; }
.GraySmallTitleTIcon { text-align:left; vertical-align:middle; padding-right:10px; width:5%; }
.GraySmallTitleTitle { font-family: Calibri, "Segoe UI"; font-size:20px; color: #666666; }
.GraySmallTitleBody { padding: 8px 0 8px 0; }
.GraySmallTitleBottom { height:10px; }





