.GraySmallTitle { text-align:left; vertical-align:middle; width:95%; }
.GraySmallTitleTIcon { text-align:left; vertical-align:middle; padding-right:10px; width:5%; }
.GraySmallTitleTitle { font-family: Calibri, "Segoe UI", Helvetica, Arial, sans-serif; font-size:20px; color: #666666; }
.GraySmallTitleBody { padding: 8px 8px 8px 8px; }
.GraySmallTitleBottom { height:10px; }












